<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Sitter Profile</title>
</head>
<body>
    <h2></h2>
    <nav>
        <ul>
            <li></li>
        </ul>
    </nav>

    <div>

        <form action="/createSitter" method="PUT">

        </form>
    </div>
    
</body>
</html>